.inputContainer {
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  height: 60px;
  display: flex;
  padding: 10px;
  margin: 5px;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}

.input::placeholder {
  color: var(--light-text-color);
  font-family: var(--font-family);
  font-size: 16px;
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;

}

.send img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}