.button {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    background-color: var(--bg-btn-color);
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s linear;
    font-family: 'Fuzzy Bubbles', cursive;
}

.button:hover {
    box-shadow: var(--box-shadow);
}

.button:active {
    background-color: var(--bg-btn-active-color);
}